/*
デフォルトBG: #98c457
モスグリーン: #2b5f2a
*/
table.my-custom {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 100%;
}
table.my-custom tr th {
  background: #2b5f2a;
  color: white;
  padding: 5px;
  border: 1px solid black;
}
table.my-custom tr td {
  padding: 5px;
  border: 1px solid black;
  color: black !important;
}